@model IEnumerable<webApplication.Models.Product>

@{
    ViewData["Title"] = "Index";
}

<h1 style="text-align:center">Lista dostępnych produktów w sklepie:</h1>
<hr />
@using (Html.BeginForm("Index", "Products", FormMethod.Get))
{
    <p>Wyszukaj produkt: @Html.TextBox("SearchString")  
        <input type="submit" value="Szukaj" /></p>
}
<table class="table">
    <thead>
        <tr>
            <th>
                ID produktu
            </th>
            <th>
               @Html.ActionLink("Nazwa Produktu", "Index", new { Sorting_Order = ViewBag.SortingName }) 
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Model)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cena)
            </th>
            <th>
                Ilość sztuk na magazynie
            </th>
             <th>
                @Html.DisplayNameFor(model => model.Rodzaj)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NazwaProduktu)
            </td>
               <td>
                @Html.DisplayFor(modelItem => item.Model)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cena)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Ilosc)
            </td>
             <td>
                @Html.DisplayFor(modelItem => item.Rodzaj)
            </td>
            <td>
                <a class="btn btn-sm btn-primary" asp-action="Edit" asp-route-id="@item.Id">Edytuj</a> |
                <a class="btn btn-sm btn-primary" asp-action="Delete" asp-route-id="@item.Id">Usuń</a>
            </td>
        </tr>
}
    </tbody>
</table>
<p>
    <button type="button" class="btn btn-primary" onclick="location.href='@Url.Action("Create", "Products")'">Utwórz nowy produkt</button>
</p>